@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: rajdhani;
  src: url(/FONTS/Rajdhani/Rajdhani-SemiBold.ttf);
}

@font-face {
  font-family: brunoregular;
  src: url(/FONTS/Bruno_Ace_SC/BrunoAceSC-Regular.ttf);
}

@font-face {
  font-family: caveat;
  src: url(/FONTS/Caveat/Caveat-Regular.ttf);
}

@font-face {
  font-family: orbitron;
  src: url(/FONTS/Orbitron/Orbitron-Regular.ttf);
}

main{
  background-color: black;
}

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

main section{
  background-color: rgb(54, 56, 58);
}

/* Nav Menu */


.container{
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.3)),to(transparent));
  background-image: -o-linear-gradient(rgba(0,0,0,0.3),transparent);
  background-image: linear-gradient(rgba(0,0,0,0.3),transparent);
  background-size: cover;
  background-position: center;
  padding: 0 8%;
}

.logo{
  width: 120px;
  cursor: pointer;
}

nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0;
}

nav ul{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding-right: 20px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 15px 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  
}

nav ul li a{
  color: white;
  text-decoration: none;
  position: relative;
  
}

nav ul li a::after{
  content: '';
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: red;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

nav ul li:hover{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 70%;
}

#JoinUs{
  border: 1px solid white;
  padding: 10px;
}

#JoinUs:hover{
  border: none;
  background-color: white;
  color: red;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#AboutUs{
  color: red;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

#AboutUs:hover{
  color: white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* Text Container */

svg text{
  fill: transparent;
  stroke: #ffffff;
  font-size: 63px;
  font-family: orbitron;
  stroke-width: 2px;
  -webkit-animation: textAnimate 10s infinite alternate;
          animation: textAnimate 10s infinite alternate;
}

@-webkit-keyframes textAnimate{
  0%{
      stroke-dasharray: 0 50%;
  }

  100%{
      stroke-dasharray: 50% 0;
  }
}

@keyframes textAnimate{
  0%{
      stroke-dasharray: 0 50%;
  }

  100%{
      stroke-dasharray: 50% 0;
  }
}

main h1{
  text-align: center;
  font-size: 20px;
  font-family: brunoregular;
  color: white;
  width: 700px;
  border: 1px solid;
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgb(255, 0, 0)),to(transparent));
  background-image: -o-linear-gradient(rgb(255, 0, 0),transparent);
  background-image: linear-gradient(rgb(255, 0, 0),transparent);
  padding: 100px;
  position: absolute;
  top: 60%;
  left: 24.5%;
  
}

#textjoin a{
  font-family: brunoregular;
  color: white;
}

#textjoin a:hover{
  color: red;
}

.text-container2{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    margin-left: 60px;
}

.box{
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 350px;
  padding: 70px;
  -webkit-transition: ease-in-out 1s;
  -o-transition: ease-in-out 1s;
  transition: ease-in-out 1s;

}

.box:hover{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  
}

.tt{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.tt h3{
  font-size: 50px;
  color: red;
}

.tt p{
  font-size: 25px;
  font-family: rajdhani;
}

.sectionp{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 750px;
  color: white;
}

.sectionp p{
  padding: 50px;
  font-size: 20px;
  font-family: rajdhani;
}

.photobox{
  margin-left: 120px;
}

.card{
  width: 546px;
  height: 600px;
  display: inline-block;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px;
  margin-left: 10px;
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,2)),to(transparent)),url();
  background-image: -o-linear-gradient(rgba(0,0,0,2),transparent),url();
  background-image: linear-gradient(rgba(0,0,0,2),transparent),url();
  background-position: center;
  background-size: cover;
  color: white;

}

.card h5{
  font-size: 40px;
  text-align: center;
  font-family: orbitron;
  color: red;
}

.card p{
  font-size: 23px;
  text-align: center;
}

.card1{
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,1)),to(transparent)),url(https://drive.google.com/uc?export=download&id=1Xy8RpVuUpkM0DXHI7Viaynz-VVtc41wF);
  background-image: -o-linear-gradient(rgba(0,0,0,1),transparent),url(https://drive.google.com/uc?export=download&id=1Xy8RpVuUpkM0DXHI7Viaynz-VVtc41wF);
  background-image: linear-gradient(rgba(0,0,0,1),transparent),url(https://drive.google.com/uc?export=download&id=1Xy8RpVuUpkM0DXHI7Viaynz-VVtc41wF);
}
.card2{
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,1)),to(transparent)),url(https://drive.google.com/uc?export=download&id=1mtefq6hy04s2IxwV2uL40nMoiBDD-zpN);
  background-image: -o-linear-gradient(rgba(0,0,0,1),transparent),url(https://drive.google.com/uc?export=download&id=1mtefq6hy04s2IxwV2uL40nMoiBDD-zpN);
  background-image: linear-gradient(rgba(0,0,0,1),transparent),url(https://drive.google.com/uc?export=download&id=1mtefq6hy04s2IxwV2uL40nMoiBDD-zpN);
}
.card3{
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,1)),to(transparent)), url(https://drive.google.com/uc?export=download&id=1b42ayZKQ8USce02gFpoLli8Qqx0JXHFM);
  background-image: -o-linear-gradient(rgba(0,0,0,1),transparent), url(https://drive.google.com/uc?export=download&id=1b42ayZKQ8USce02gFpoLli8Qqx0JXHFM);
  background-image: linear-gradient(rgba(0,0,0,1),transparent), url(https://drive.google.com/uc?export=download&id=1b42ayZKQ8USce02gFpoLli8Qqx0JXHFM);
}
.card4{
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,1)),to(transparent)), url(https://drive.google.com/uc?export=download&id=1TqJxO1lDBDcDt6ogUTPf6T9ivEG9OShq);
  background-image: -o-linear-gradient(rgba(0,0,0,1),transparent), url(https://drive.google.com/uc?export=download&id=1TqJxO1lDBDcDt6ogUTPf6T9ivEG9OShq);
  background-image: linear-gradient(rgba(0,0,0,1),transparent), url(https://drive.google.com/uc?export=download&id=1TqJxO1lDBDcDt6ogUTPf6T9ivEG9OShq);
}


/* FOOTER */

footer{
  background: black;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: white;
}

.footer-content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 50px;
  font-family: orbitron;
  font-weight: 400;
  line-height: 50px;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;

}

.socials li{
  margin: 0 50px;
}

.socials a{
  text-decoration: none;
  color: white;
}

.socials a i{
  font-size: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

}

.socials a:hover i{
  color: red;
}

#fs{
  color: white;
  text-decoration: none;
}

#fs:hover{
  color: red;
}

#fr{
  color: white;
  text-decoration: none;
}

#fr:hover{
  color: red;
}

.footer-bottom{
  background-color: red;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;

}

.footer-bottom span{
  text-transform: uppercase;
  opacity: 0.7;
  font-weight: 400;
}


/* SCROLLBAR */

::-webkit-scrollbar{
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track{
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgb(0, 0, 0)));
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}

::-webkit-scrollbar-thumb{
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 0, 0)), to(black));
  background: linear-gradient(rgb(255, 0, 0), black);
  border-radius: 10px;
}

/* MEDIA */

@media screen and (max-width: 480px) {

  .back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .container{
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    padding: 0 8%;
  }

  .logo{
    width: 220px;
    cursor: pointer;
    position: absolute;
    left: 1%;
    top: 1%;
    
}

nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 100px 0;
   
}

nav ul{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
    padding-right: 0px;
    position: absolute;
    right: 0%;
    top: 0.1%;
}

nav ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 15px 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;
    
}

/* Text Container */

svg text{
  fill: transparent;
  stroke: #ffffff;
  font-size: 60px;
  font-family: orbitron;
  stroke-width: 5px;
  -webkit-animation: textAnimate 10s infinite alternate;
          animation: textAnimate 10s infinite alternate;
}

@-webkit-keyframes textAnimate{
  0%{
      stroke-dasharray: 0 50%;
  }

  100%{
      stroke-dasharray: 50% 0;
  }
}

@keyframes textAnimate{
  0%{
      stroke-dasharray: 0 50%;
  }

  100%{
      stroke-dasharray: 50% 0;
  }
}

main h1{
  text-align: center;
  font-size: 10px;
  font-family: brunoregular;
  color: white;
  width: 250px;
  border: 1px solid;
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgb(255, 0, 0)),to(transparent));
  background-image: -o-linear-gradient(rgb(255, 0, 0),transparent);
  background-image: linear-gradient(rgb(255, 0, 0),transparent);
  padding: 5px;
  position: absolute;
  top: 90%;
  left: 11%;
  z-index: 2;
  
}

#textjoin a{
  font-family: brunoregular;
  color: white;
}

#textjoin a:hover{
  color: red;
}

.text-container2{
    display: inline;

}

.box{
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 250px;
  padding: 20px;
  margin: 25px;
  position: relative;
  left: 3%;
  -webkit-transition: ease-in-out 1s;
  -o-transition: ease-in-out 1s;
  transition: ease-in-out 1s;

}

.box:hover{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  
}

.tt{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.tt h3{
  font-size: 50px;
  color: red;
}

.tt p{
  font-size: 25px;
  font-family: rajdhani;
}

.sectionp{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 750px;
  color: white;
}

.photobox{
  margin-left: 0%;
}

.card{
  width: 300px;
  height: 300px;
  display: inline-block;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px;
  margin-left: 8px;
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,2)),to(transparent)),url(/images/pexels-annaÃ«lle-quionquion-15322868.jpg);
  background-image: -o-linear-gradient(rgba(0,0,0,2),transparent),url(/images/pexels-annaÃ«lle-quionquion-15322868.jpg);
  background-image: linear-gradient(rgba(0,0,0,2),transparent),url(/images/pexels-annaÃ«lle-quionquion-15322868.jpg);
  background-position: center;
  background-size: cover;
  color: white;

}
      
}

@media only screen and (min-width:481px) and (max-width:768px) {
  .back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  .container{
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.686);
    background-size: cover;
    background-position: center;
    padding: 0 8%;

  }

  .logo{
    width: 220px;
    cursor: pointer;
    position: absolute;
    left: 1%;
    top: 1%;
    
}

nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 100px 0;
   
}

nav ul{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
    padding-right: 0px;
    position: absolute;
    right: 0%;
    top: 0.1%;
}

nav ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 15px 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;
    
}

/* Text Container */

svg text{
  fill: transparent;
  stroke: #ffffff;
  font-size: 50px;
  font-family: orbitron;
  stroke-width: 5px;
  -webkit-animation: textAnimate 10s infinite alternate;
          animation: textAnimate 10s infinite alternate;
}

@-webkit-keyframes textAnimate{
  0%{
      stroke-dasharray: 0 50%;
  }

  100%{
      stroke-dasharray: 50% 0;
  }
}

@keyframes textAnimate{
  0%{
      stroke-dasharray: 0 50%;
  }

  100%{
      stroke-dasharray: 50% 0;
  }
}

#svgg{
  position: absolute;
  top: 5%;
  left: -5%;
  margin: 35px;
}

main h1{
  text-align: center;
  font-size: 15px;
  font-family: brunoregular;
  color: white;
  width: 400px;
  border: 1px solid;
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgb(255, 0, 0)),to(transparent));
  background-image: -o-linear-gradient(rgb(255, 0, 0),transparent);
  background-image: linear-gradient(rgb(255, 0, 0),transparent);
  padding: 50px;
  position: absolute;
  top: 90%;
  left: 24%;
  z-index: 2;
  
}

#textjoin a{
  font-family: brunoregular;
  color: white;
}

#textjoin a:hover{
  color: red;
}

.text-container2{
    display: inline;

}

.box{
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 350px;
  padding: 20px;
  margin: 35px;
  position: relative;
  left: 24%;
  -webkit-transition: ease-in-out 1s;
  -o-transition: ease-in-out 1s;
  transition: ease-in-out 1s;

}

.box:hover{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  
}

.tt{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.tt h3{
  font-size: 50px;
  color: red;
}

.tt p{
  font-size: 25px;
  font-family: rajdhani;
}

.sectionp{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 750px;
  color: white;
}

.photobox{
  margin-left: 13%;
}

.card{
  width: 350px;
  height: 400px;
  display: inline-block;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px;
  margin-left: 120px;
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,2)),to(transparent)),url(/images/pexels-annaÃ«lle-quionquion-15322868.jpg);
  background-image: -o-linear-gradient(rgba(0,0,0,2),transparent),url(/images/pexels-annaÃ«lle-quionquion-15322868.jpg);
  background-image: linear-gradient(rgba(0,0,0,2),transparent),url(/images/pexels-annaÃ«lle-quionquion-15322868.jpg);
  background-position: center;
  background-size: cover;
  color: white;

}
}
              
@media only screen and (min-width:769px) and (max-width:1024px) {
  .back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  .container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.686);
    background-size: cover;
    background-position: center;
    padding: 0 8%;

  }

  .logo{
    width: 500px;
    cursor: pointer;
    position: absolute;
    left: 1%;
    top: 1%;
    
}

nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 100px 0;
   
}

nav ul{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
    padding-right: 0px;
    position: absolute;
    right: 0%;
    top: 0.1%;
}

nav ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 8px 15px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;
    
}

/* Text Container */

svg text{
  fill: transparent;
  stroke: #ffffff;
  font-size: 60px;
  font-family: orbitron;
  stroke-width: 5px;
  -webkit-animation: textAnimate 10s infinite alternate;
          animation: textAnimate 10s infinite alternate;
}

@-webkit-keyframes textAnimate{
  0%{
      stroke-dasharray: 0 50%;
  }

  100%{
      stroke-dasharray: 50% 0;
  }
}

@keyframes textAnimate{
  0%{
      stroke-dasharray: 0 50%;
  }

  100%{
      stroke-dasharray: 50% 0;
  }
}

#svgg{
  position: absolute;
  top: 25%;
  left: 0%;
  margin: 35px;
}

main h1{
  text-align: center;
  font-size: 15px;
  font-family: brunoregular;
  color: white;
  width: 500px;
  border: 1px solid;
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgb(255, 0, 0)),to(transparent));
  background-image: -o-linear-gradient(rgb(255, 0, 0),transparent);
  background-image: linear-gradient(rgb(255, 0, 0),transparent);
  padding: 80px;
  position: absolute;
  top: 90%;
  left: 24%;
  z-index: 2;
  
}

#textjoin a{
  font-family: brunoregular;
  color: white;
}

#textjoin a:hover{
  color: red;
}

.text-container2{
    display: inline;

}

.box{
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 350px;
  padding: 20px;
  margin: 35px;
  position: relative;
  left: 27.5%;
  -webkit-transition: ease-in-out 1s;
  -o-transition: ease-in-out 1s;
  transition: ease-in-out 1s;

}

.box:hover{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  
}

.tt{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.tt h3{
  font-size: 50px;
  color: red;
}

.tt p{
  font-size: 25px;
  font-family: rajdhani;
}

.sectionp{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 750px;
  color: white;
}

.photobox{
  margin-left: 13%;
}

.card{
  width: 450px;
  height: 400px;
  display: inline-block;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px;
  margin-left: 120px;
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,2)),to(transparent)),url(/images/pexels-annaÃ«lle-quionquion-15322868.jpg);
  background-image: -o-linear-gradient(rgba(0,0,0,2),transparent),url(/images/pexels-annaÃ«lle-quionquion-15322868.jpg);
  background-image: linear-gradient(rgba(0,0,0,2),transparent),url(/images/pexels-annaÃ«lle-quionquion-15322868.jpg);
  background-position: center;
  background-size: cover;
  color: white;

}

}
